.DS_Store
Thumbs.db
*.log

# PHP-CS-Fixer
/.php_cs
/.php-cs-fixer.cache

# composer
/composer.lock
!/vendor
/vendor/*
!/vendor/.gitkeep

# PhpStorm / IDEA
.idea
.idea_modules
# NetBeans
nbproject

node_modules/

# codeception (only stage *.dist.yml config files)
/codeception.yml
/pimcore/codeception.yml
/pimcore/tests/*.suite.yml
/pimcore/tests/_output/*
/pimcore/tests/_support/_generated/*

