parameters:
	ignoreErrors:
		-
		    message: "#^Static method Pimcore\\\\Model\\\\Element\\\\Editlock\\:\\:isLocked\\(\\) invoked with 3 parameters, 2 required.$#"
		    count: 1
		    path: src/Controller/AdminController.php