parameters:
	ignoreErrors:
		-
		    message: "#^Static method Pimcore\\\\Model\\\\Element\\\\Editlock\\:\\:isLocked\\(\\) invoked with 2 parameters, 3 required.$#"
		    count: 1
		    path: src/Controller/AdminController.php