.plugin_objectmerger_icon  {
    background: url(../img/plugin_icon.png) left center no-repeat !important;
}

.plugin_objectmerger_icon_revert  {
    background: url(/bundles/pimcoreadmin/img/flat-color-icons/undo.svg) left center no-repeat !important;
}

.plugin_objectmerger_icon_gray_arrow  {
    background: url(../img/equal.svg) left center no-repeat !important;
}

.plugin_objectmerger_icon_arrow_right  {
    background: url(../img/green-arrow.svg) left center no-repeat !important;
}

.plugin_objectmerger_icon_lock  {
    background: url(/bundles/pimcoreadmin/img/icon/lock.png) left center no-repeat !important;
}

.plugin_objectmerger_icon_advanced  {
    background: url(../img/advanced.svg) center center no-repeat !important;
}

.plugin_objectmerger_icon_mirror {
    background: url(../img/mirror.svg) left center no-repeat !important;
}



